// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//CUSTOM COLORS
$color-soccer-coach: #17b87d;
$color-soccer-coach-selected: #0f744f;
$gris-soccer-coach: #F3F3F3;
$color-action:#b81752;
$color-action-selected: #740f34;

