@import 'variables';

.card-exercice-image{
    height: 250px;
    width: inherit;
    margin: 0;
    display: block;
    position: relative;
}

.lien-image{
    width: inherit;
    height: inherit;
}

.lst-exercices{
    margin-left: 0;
    margin-right: 0;
}

.img-liste{
    height: inherit;
    width: inherit;
    border-radius: 0;
}

.card-body{
    height: inherit;
    width: inherit;
}

.card-exercice{
    border:none;
    padding: 5px;
}

.body-exercice{
    padding: 0px;
    border: 1px solid rgba(0,0,0,.125);
    padding-bottom: 10px;
    p{
        margin-top: 10px;
        margin-left: 18px;
        height: 100px;
        overflow: hidden;
    }
}

.footer-exercice{
    background-color: white;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0!important;
}

.actions{
    height: auto;
    padding-bottom: 20px;

}

.action-recherche {
    height: auto;
    padding-bottom: 30px;

    h5{
        margin-bottom: 0;
    }
    .navbar-dark{
        .navbar-nav{
            .nav-link{
                color:white;
                &:hover{
                    text-decoration: underline;
                }
            }
            .nav-item{
                background: $color-soccer-coach!important;
                border-right: 1px solid white;
            }     
        }
    }
}


.btn-create-exercice{

    float:right;
    margin-top: 5px;
    @media screen and (max-width: $screen-xs) {
        margin-top: 40px;
    }
}

.selected-type{
    /*color: black !important;
    font-weight:bold;*/
    background-color: $color-soccer-coach-selected!important;
}

.btn-soccer-coach-action{
    background-color: $color-action;
    color:white!important;
    border-radius: 0;
    &:hover{
        background-color: $color-action-selected!important;
        color:white;
    }
}

.btn-soccer-coach{
    /*background-color: #b87e17!important;*/
    background-color: $color-soccer-coach!important;
    color:white;
    border-radius: 0;
    &:hover{
        background-color: $color-soccer-coach-selected!important;
        color:white;
    }
}

.card-title-principe{
    border-left: 8px solid $color-action;
    height: 80px;
    padding-left: 9px;
    display: block;
    position: relative;
    h4{
        font-size: 1.3rem;
    }
    h6{
        position: absolute;
        bottom: 0;
    }
}

.color-soccer-coach{
    color: $color-soccer-coach;
}

.bought{
    background-color: $color-bougth;
    position: absolute;
    bottom: 0;
    right: 0;
    /* z-index: 1; */
    color: #FFF;
    padding: 2px 15px;
    font-size: 15px;
    &:hover{
        background-color:  $color-bougth-action;
    }
}

.bought-private{
    background-color: $color-bougth;
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: 1; */
    color: #FFF;
    padding: 2px 15px;
    font-size: 15px;
}

.pagination{
    margin-top: 30px;
    justify-content: center!important;
}

.modal-content{
    border-radius: 0;
    .modal-body span{
        font-weight:bold;
    }
}

.form-control{
    border-radius: 0;
}

label{
    font-weight: 700;
}

.form-check{
    padding-left: 0;
}

.form-check-input {
    margin-top: 7px;
    margin-left: 5px;
}

.container-label {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    height: 25px;
    width: 25px;
    background-color: #F3F3F3;
    margin-left: 10px;
    border:1px solid $color-soccer-coach;
}

  /* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #F3F3F3;
}

  /* When the checkbox is checked, add a blue background */
.container-label input:checked ~ .checkmark {
    background-color: $color-soccer-coach;
}

  /* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

  /* Show the checkmark when checked */
.container-label input:checked ~ .checkmark:after {
    display: block;
}

  /* Style the checkmark/indicator */
.container-label .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

textarea{
    height: 250px!important;
}

.msg-required{
    font-weight: normal!important;
}


/** MEDIAS **/
@media screen and (min-width: 900px) {
    /*.btn-create-exercice{
        float: right;
    }*/
}

.nav-type-exercice{
    @media screen and (max-width: $screen-xs) {
        padding-right: 0;
        .navbar-nav{
            width: 100%;
            .nav-item{
                text-align: center;
                margin-bottom: 1px;
                    
            }
        }
    }

}