@import '../../resources/sass/variables';
@import 'detail-exercice';

.add-variables{
    margin-top: 20px;

    h5{
        margin-bottom: 0;
    }

    .form-add-variable{
        form{
            button{
                margin-top: 20px;
                float: right;
            }

            textarea{
                height: 234px!important;
            }
        }
        .btn-annuler{
            margin-left: 5px;
        }

        .titre-variantes{
            font-size:0.9rem;
            font-weight: 700;
        }

        .lst-variables{
            min-height: 409px;
            padding: 0 10px 10px 10px;
            border:1px solid #ced4da;  
            margin-top: 7px;      

            .aucune-variante{
                text-align: center;
                margin-top: 170px;
                color: #ced4da;
            }

            .variante-item{
                margin-top: 7px;
                border-radius:0!important;
                height: auto;

                .item-header{
                    border-left: 8px solid $color-soccer-coach;
                    border-top:1px solid $color-soccer-coach;
                    border-right: 1px solid $color-soccer-coach;
                    border-bottom: 1px solid $color-soccer-coach;
                    height: 40px;
                    padding-left: 10px;
                    background-color: white;
                    padding-top: 6px;
                    padding-right: 18px;
                    &:first-child{
                        border-radius: 0;
                    }
                    .btn-delete{
                        float: right;
                        border: 0;
                    }
                }

                .item-body{
                    height: auto;
                    border-left:1px solid $color-soccer-coach;
                    border-right:1px solid $color-soccer-coach;
                    border-bottom:1px solid $color-soccer-coach;
                    padding: 18px;
                    &.row{
                        height: auto;
                        margin-left: 0;
                        margin-right: 0;
                    }
                    .img-variante{
                        img{
                            width: inherit;
                            height: 318px;
                        }
                    }
                }          
            }
        }
    }
}