.nav-principal{
    height: 100px;
    background-color: #6cb2eb !important;
}

.bg-info{
    /*background-color: #17b87d!important;*/
    background: white!important;
    padding-left: 0;
}

.link-custom{
    border-bottom: 1px solid #17b87d;
    padding-bottom: 0px;
    margin-left: 10px;
    color:black!important;
}

.link-custom:hover{
    color:rgba(0, 0, 0, 0.5)!important;
}

.link-custom-2{
    border-bottom: 1px solid #17b87d;
    padding-bottom: 0px;
    color:black!important;
    height: 35px;
}

.dropdown-custom{
    border-radius:0;
    margin-top: 10px;
    border-top: none;
    padding: 0;
}

footer{
    height: 200px;
    background-color: #17b87d;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #17b87d;
    border-color: #17b87d;
}

.page-link{
    color:#17b87d;
}

.btn-g{
    margin-right: 2px;
}

.btn-g-selected{
    outline: 0;
    background-color: #740f34!important;
    box-shadow: 0 0 0 0.1rem #17b87d;
}

.btn:focus, .btn.focus {
    outline: 0;
    background-color: #740f34!important;
    box-shadow: 0 0 0 0.1rem #17b87d;
}

.exercices-by-user h6{
    font-style: italic;
}

.aucun-exercice{
    font-style: italic;
}

.lst-vide{
    height: 636px;
}

.date-creation{
    font-size: 10px;
}

.exercices-by-user .bought:hover{
    background-color: #b87e17!important;
}

button.page-link {
    display: inline-block;
}
button.page-link {
    font-size: 20px;
    color: #17b87d;
    font-weight: 500;
}

button.page-link:hover {
    color: #17b87d!important;
}
.offset{
  width: 500px !important;
  margin: 20px auto;  
}

.page-item:last-child .page-link{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/** MEDIAS **/
@media screen and (max-width: 500px) {
    .action-recherche .navbar-dark .navbar-nav .nav-item{
        border-right:none!important;
    }
}