@import '../../../resources/sass/variables';

.mes-equipes{
    .actions{
        height: 100px;
        position: relative;;
        .btn-create-equipe{
            float: right;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}