@import '../../../resources/sass/variables';

.mes-equipes{
    .actions{
        height: 100px;
        position: relative;;
        .btn-create-equipe{
            float: right;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
    .card-equipe{
        border:none;
        padding: 10px;
        background-color: $gris-soccer-coach;
        margin-bottom: 10px;
        height: 70px;
        .info-equipe{
            float: left;
            vertical-align: baseline;
            height: 60px;
            position: relative;
            width: 500px;
            h5{
                position: absolute;
                top: 25%;
            }
        }

        .voir-equipe{
            float: right;
            margin-top: 8px;
            width: 200px;
        }
    }
}